@import 'utils';
@import 'vars';

.files-manager-wrapper {
  padding: 15px 0;
}

.files-manager-directory-name {
  font-size: $font-size-l;
  font-weight: 900;
  margin-bottom: 15px;
}

.files-manager-directory-content-row,
.files-manager-upload-wrapper,
.files-manager-create-directory-wrapper {
  width: calc(100% - 10px);
  height: $files-manager-directory-content-row-height;
  line-height: $files-manager-directory-content-row-height;
  padding: 5px;
  @include transition(background-color .3s ease-in-out 0s);

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
  }
}

.files-manager-upload-wrapper {
  margin-top: 15px;
}

.files-manager-directory-content-filename,
.files-manager-upload-text,
.files-manager-create-directory-text {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 5px;
}

%files-manager-icon {
  display: inline-block;
  vertical-align: middle;
  width: $files-manager-directory-content-row-height;
  height: 100%;
  background: transparent no-repeat 0 0;
  background-size: 100% 100%;
}

.files-manager-directory-content-icon-directory {
  @extend %files-manager-icon;
  background-image: $files-manager-directory-content-icon-directory;
}

.files-manager-directory-content-icon-file {
  @extend %files-manager-icon;
  background-image: $files-manager-directory-content-icon-file;
}

.files-manager-upload-icon-upload {
  @extend %files-manager-icon;
  background-image: $files-manager-upload-icon-upload;
}

.files-manager-create-directory-icon-add-directory {
  @extend %files-manager-icon;
  background-image: $files-manager-create-directory-icon-add-directory;
}

.files-manager-dialog-window-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
}

.files-manager-dialog-window-aligner {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.files-manager-dialog-window {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 45px;
  background-color: $background-color;
}

.files-manager-create-directory-dialog {
  width: 100%;
}

.files-manager-create-directory-dialog-input {
  width: 100%;
  height: 30px;
}

.files-manager-create-directory-dialog-button {
  width: 45%;
  height: 30px;
  margin-top: 30px;

  &:last-child {
    margin-left: 10%;
  }
}

@media (min-width: 768px) {
  .files-manager-create-directory-dialog {
    width: 480px;
  }
}
